.header {
  background: #2b2a2a;
}

.header-container p {
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}

.header-title {
  margin: 0;
  padding: 1.45rem 1.0875rem;
  flex-grow: 3;
}

.header-title h1 {
  margin: 0;
}

.header-title a {
  color: #ddbe40;
  text-decoration: none;
}

.header-menu {
  flex-grow: 1;
}

@media only screen and (max-width: 320px) {
  .header-title a {
    font-size: 90%;
  }
}
